<h1>Validate SSN</h1>

<%= form_tag("verify_ssn") do %>
  
  <% if flash[:error] -%>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this ssn from being verified:</h2>
      <ul>
        <p id="error"><%= flash[:error] %></p>
      </ul>
    </div>
  <% end %>

  <div>Please enter your SSN below to validate the account.</div><br>
  <table>
     <tr>
      <td>
        SSN: 
      </td>
      <td>
        <%= text_field_tag 'ssn' %>
      </td>
    </tr>
    <tr>
      <td>
        Password: 
      </td>
      <td>
        <%= password_field_tag 'password' %>
      </td>
    </tr>
    <tr>
      <td>
        Confirm Password: 
      </td>
      <td>
        <%= password_field_tag 'confirm_password' %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= submit_tag 'Validate SSN' %>
  </div>

<% end %>

