<h1>Listing candidates</h1>


<% if user_signed_in? and not current_user.did_vote%>
  <h3>Click <%= link_to 'Here', :vote %> to vote</h3>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.name %></td>
    <td><%= candidate.votes %></td>
    <td><%= link_to 'Show', candidate %></td>
    <% if can? :update, Candidate %>
      <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
      <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :update, Candidate %>
<%= link_to 'New Candidate', new_candidate_path %>
<%= link_to 'New User', :create_user %>
<% end %>