<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Votes:</b>
  <%= @candidate.votes %>
</p>

  <% if can? :update, Candidate %>
  	<%= link_to 'Edit', edit_candidate_path(@candidate) %>  |
  <% end %>
<%= link_to 'Back', candidates_path %>
